TcLoadTester/src/com/siemens/tcloadtester/TcLoadTester.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) by Mattias Jonsson (Siemens PLM Software) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="application">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="globals">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="setting" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[a-z_]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="value" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="modules">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="module" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="settings">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="setting" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="name" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="[a-z_]+"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="value" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[0-9a-zA-Z _]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="workers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="worker" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="settings">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="setting" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="name" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="[a-z_]+"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="value" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="sequence">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="mod_occ" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="settings" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="setting" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="name" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:pattern value="[a-z_]+"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="value" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string"/>
																						</xs:simpleType>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="id" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="[0-9a-zA-Z _]+"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ref" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="[0-9a-zA-Z _]+"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="once">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="start"/>
																		<xs:enumeration value="end"/>
																		<xs:enumeration value="false"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="probability">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="[0-9]|[0-9][0-9]|[0-9][0-9][0-9]"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[0-9a-zA-Z _]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
